body {
    margin: 0;
    background-color: rgba(0, 4, 100, 0.54);
}

.title {
    text-align: center;
    font-size: 40px;
}

.first1 {
    border: 5px solid white;
    border-radius: 40px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
}

.car {
    text-align: center;
}

.OBI {
    border-radius: 50%;
    width: 450px;
    height: 425px;
    display: flex;
    justify-content: center;
}

.project2 {
    border: 5px solid white;
    border-radius: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
}

.sistem {
    padding: 20px;
}

.Security {
    border-radius: 50%;
    width: 450px;
    height: 425px;
}

.laser {
    width: 450px;
    height: 425px;
}

.lastword {
    font-weight: 400px;
    color: black;
    text-decoration: none;
    font-size: 70px;
    padding: 30px;
}